<p>These are <a href="#"><%= @contacts.length %></a> contacts</p>

<div>
   <% @contacts.each do |current_contact| %>
   <section> <a href=/contacts/<%= current_contact.id %>> <%= current_contact.full_name %> </a>( <%= current_contact.email %> )

      <div class="link">
        
        <form action='/contacts/<%= current_contact.id %>/edit' method='get'>
          <input type='submit' value='Edit Contact'>
        </form>

        <form action='/contacts/<%= current_contact.id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete Contact'>
        </form>

      </div>

    </section>
  <% end %>
</a>
</div>
